
.app {
  height: 100%;
  width: 60%;              /* or any width you want */
  margin: 0 auto ;     /* top | left-right | bottom */
  background-color: rgb(248, 208, 208);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.mainHeading{
 color: rgb(118, 17, 17);
}
.btnContainer{
  margin-top: 4px;
}
.btn{
  padding: 6px 20px;
  background:  rgb(244, 190, 190);
  border: 2px solid black;
  margin-left: 15px;
  border-radius: 15px;
  color:red;
  font-size: large;
  font-weight: 500;
}